@import url("https://fonts.googleapis.com/css?family=Baloo Da 2");
    .banner-bg{
        font-family: "Baloo Da 2";
        height: auto;
        width:100%;
    }
    .cont-info-banner{
        color:white;
        display:flex;
        position:absolute;
        top: 0;
    }
     .icon-banner{
        margin: auto;
    }
    .text-banner{
        margin:2em auto;
        width:60%;
    }
    .title-banner{
        font-size:64px;
        margin: 1.5em auto;
        width:100%;
    }
    .text{
        font-size:24px;
    }
    .icon-banner{
        width:20%;
    }
    .cont-btn{
        display:flex;
        flex-flow:wrap;
        margin-top:1.5em;
        margin-bottom: 2em;
        justify-content:space-around;
    }
    .slogan{
        color:#0E1D47;
        font-family: "Baloo Da 2";
        font-size:64px;
        margin: 1em auto;
        text-align:center;
        width:50%;
    }
    .text-balloon{
        display:flex;
        margin: .5em auto;
        width:90%;
        max-width:1024px;
    }
    .cont-mid-dash{
        display:flex;
        margin:0 auto;
        width:90%;
        max-width:1024px;
    }
    .cont-mid-dash p{
        color: #0E1D47;
        font-size:40px;
        margin-top:10%;
        margin-left: 1%;
        text-align:center;
    }
    .method{
        background-color: #E6EAF4;
        margin:0 auto;
        padding: 1em 0;
        width:100%;
    }
    .cards-method{
        display:flex;
        justify-content: space-around;
        margin:1em auto;
        max-width:1024px;
    }
    .card-1, .card-2,.card-3{
        border-radius:10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color:#0E1D47;
        display:flex;
        font-size:28px;
        padding: 2em 0;
        width:40%;
    }
    .text-card{
        display: table-cell;
        margin: auto;
        text-align:center;
        width: 80%;
    }
    .card-1{background-color:#FFDE00;}
    .card-2{background-color:#FF6868;}
    .card-3{background-color:#ADA9FF}
    .strategys-cont{
        display:flex;
        justify-content: space-around;
        margin:0 auto;
        max-width: 1024px;
    }
    .strategys{
        margin: 0 auto;
        width:50%;
    }
    .icons-strat{
        border: 1px solid #ABB3C7;
        color:#676D7D;
        font-family: 'Baloo Da 2';
        font-size:36px;
        margin: 1px 0;
        padding:0;
        transition: .7s all ease-in-out;
    }
    .icons-strat:hover, .active:hover{
        cursor:pointer;
    }
    .active{
        border: 1px solid #FF6868;
        color:#FF6868;
        font-family: 'Baloo Da 2';
        font-size:36px;
        margin: 1px 0;
        padding:0;
        transition: .7s all ease-in-out;
    }
    .strategys-icon{
        margin: auto;
    }
    .phrase{
        margin:0 auto;
        max-width:1024px;
    }
    .phrase img{
        width:100%;
    }
    .info-phrase{
        display: flex;
        justify-content: space-around;
        position:absolute;
        top: 12%;
        width:90%;
    }
    .profile{
        display:flex;
        margin: auto;
        max-width: 30%;
    }
    .text-cont{
        color:white;
        margin: auto;
        max-width:50%;
    }
    .text1{font-size:34px;}
    .text2{font-size: 26px;}